<div class="row">
    <div class="col-3">
        <div style="width: 18rem;">
            <img [src]="listaCiclo[0].imagen" class="card-img-top">
            <div class="card-body">
              <h2 class="card-title" style="text-align: center;">{{cicloDetalle | cicloDetalle:cursoDetalle}}</h2>
              <p class="h5 mb-4">Conocimientos necesarios</p>
                <ul>
                    <li  *ngFor="let conoc of listaConocimiento">{{conoc}}</li>
                </ul>
            </div>
          </div>
    </div>
    <div class="col-9">
        <h3>Las asignaturas del ciclo son:</h3>
        <div class="row mt-4">
            <div class="col mb-3" *ngFor="let asig of listaAsignaturas">
                <div class="card" style="width: 18rem; ">
                    <div class="card-body">
                        <h6 class="h4 card-title">{{asig.nombre}}</h6>
                        <p class="card-text">Profesor:{{" "+asig.profesor}}<br>Ciclo:{{" "+asig.ciclo}}<br>Curso:{{" "+asig.curso}} </p>             
                        <div class="row">
                            <div class="list-group list-group-horizontal" style="width: 4rem;" *ngFor="let item of asig.conocimientos">
                                <li class="list-group-item">
                                    <img [src]="item.imagen" style="width: 2rem;" class="col">
                                </li>
                            </div>
                        </div>     
                        <a class="btn btn-primary mt-3">Ver detalle</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>